*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: lightgray;
}

.btn{
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: rgb(36, 36, 163);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background-color: rgb(50, 221, 50);
    color: rgb(255, 255, 184);
    transform: scale(1.1);
}