* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

.heading > h1 {
    text-align: center;
    margin: 30px 0;
}

.image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}
.image  img{
    
    width: 300px;
    height:200px;
}